In [12]:
import psycopg2
import pandas as pd
from dotenv import load_dotenv

In [13]:
load_dotenv()

database =  os.getenv("DATABASE")
user = os.getenv("USER")
password = os.getenv("PASSWORD")
host = os.getenv('HOST')
port = os.getenv('PORT')

In [14]:
conn = psycopg2.connect(
                        database= database, 
                        user= user, 
                        password= password,  
                        host= host, 
                        port= port
                        )
conectar = conn.cursor()

In [20]:
name_Table = "publishers"
sqlCreateTable = "create table if not exists "+name_Table+" (publisher_id INT NOT NULL, name VARCHAR(255) NOT NULL, PRIMARY KEY(publisher_id));"

In [21]:
conectar.execute(sqlCreateTable)

conn.commit()

In [22]:
sqlGetTableList =   """
                    INSERT INTO publishers (publisher_id, name) values (1,'O Reilly Media');
                    INSERT INTO publishers(publisher_id,name) values (2,'A Book Apart');
                    INSERT INTO publishers(publisher_id,name) values (3,'A K PETERS');
                    INSERT INTO publishers(publisher_id,name) values (4,'Academic Press');
                    INSERT INTO publishers(publisher_id,name) values (5,'Addison Wesley');
                    INSERT INTO publishers(publisher_id,name) values (6,'Albert&Sweigart');
                    INSERT INTO publishers(publisher_id,name) values (7,'Alfred A. Knopf');
                    """

In [23]:
conectar.execute(sqlGetTableList)

conn.commit()
conn.close()
conectar.close()

UniqueViolation: duplicate key value violates unique constraint "publishers_pkey"
DETAIL:  Key (publisher_id)=(1) already exists.

In [26]:
df= pd.read_sql('SELECT * FROM publishers', conn)
df
conn.close()

In [27]:
df

   publisher_id             name
0             1   O Reilly Media
1             2     A Book Apart
2             3       A K PETERS
3             4   Academic Press
4             5   Addison Wesley
5             6  Albert&Sweigart
6             7  Alfred A. Knopf