<a href="https://colab.research.google.com/github/Eduardo-Coyto/ML-UTEC-4Geeks/blob/Machine-Learning/Ej_de_ML_en_clase.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

from sklearn.metrics import confusion_matrix
from sklearn.metrics import precision_recall_fscore_support

In [3]:
df_raw = pd.read_csv("/content/heights.csv", index_col=0)

In [5]:
df_raw.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1050 entries, 1 to 1050
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   sex     1050 non-null   object
 1   height  1050 non-null   float64
dtypes: float64(1), object(1)
memory usage: 24.6+ KB

In [6]:
df_raw.sample(10)

        sex  height
157    Male    66.5
478    Male    71.0
127  Female    67.0
594    Male    69.0
560    Male    72.0
624  Female    63.0
128  Female    63.0
550    Male    73.0
306    Male    69.0
567    Male    74.0